<div class="topnav">
  <form class="login-form" action="/login" method="post">
    <ul>
      <li class="login-li"><a href="/">p10_Github_API</a></li>
      <li class="login-li" style="display: none;"><input name="username" type="text" placeholder="username" /></li>
      <li class="login-li" style="display: none;"><input name="password" type="password" placeholder="Password" /></li>
      <li class="login-li" style="display: none;"><input type="submit" Value="Login" /></li>
      <li class="login-li" style="display: none;">Yeah, so, you can't actually log in...</li>
    </ul>
  </form>
</div>
